@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    text-decoration: none;
    color: #000;
    list-style: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}

.grid {
    display: grid;
    grid-template-areas:"header header header"
                        "main main main" 
                        "footer footer footer";
    
}




header {
    grid-area: header;
    text-align: center;
    margin: 0rem;
    
}

header section h1 {
    font-size: 2.5rem;
}

.logo {
    margin: 1rem;
}

.logo img{
    max-width: 100px
}

header nav {
    display: flex;
    justify-content: space-between;
}

.navi {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    
    font-weight: 700;
}

.gulbox {
    display: inline-block;
    background-color: #e6bd43;
    padding: 1rem;
    font-weight: 700;
    margin: 0;
}

.backround {
    background-image: url("../img/placeholder2.png");
    background-size: cover;
    padding: 4rem 8rem 3rem 8rem;
}

#backroundabout {
    background-image: url("../img/placeholder2.png");
    background-size: cover;
    padding: 3rem;
}

#boks {
    background-color: rgba(250,250,250,.9);;
    padding: 3rem;
    text-align: start;
    max-width: 600px;
}

#boks h3 {
    font-weight: 1;
}





main {
    grid-area: main;
}

#sentrer {
    text-align: center;
}

main section {
    padding: 3rem;
}

#about {
    text-align: start; 
    display: flex;
    background-color: #e6bd43;
    padding: 2rem;
}

#svartfir {
    display: inline-block;
    border: 2px solid #000;
    padding: 1rem;
    font-weight: 700; 
}

.svartboks {
    display: inline-block;
    border: 2px solid #000;
    padding: 0.5rem;
}

.service {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
    text-align: center;
}

.service h2 {
    width: 100%;
    padding: 0 0 4rem 0;
}

.service article {
    max-width: 175px;
}

#sign {
    background-color: #efefef;
}

main h2 {
    font-size: 2rem;    
}

form input[type=email] {
    border: 0;
    padding: 1rem;
}

form input[type=submit] {
    background-color: #e6bd43;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}

form input[type=text] {
    border: 0;
    padding: 1rem 20rem 1rem 1rem;
}

form input[id=message] {
    border: 0;
    padding: 8rem 20rem 1rem 1rem;
}

#strek h2 {
    border-bottom: 3px solid #e6bd43;
    padding: 0 0 1rem 0;
}

#explore article ul {
    padding: 3rem 0 0 0;
}

.artikkel1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.artikkel1 article {
    flex-grow: 1;
    padding: 3rem 3rem 0 0;
    max-width: 692px;
    min-width: 200px;
}

.artikkel1 article img {
    flex-grow: 1; 
    width: 100%;
}


#firma {
    background-color: #e6bd43;
    text-align: center;
}

#farge {
    background-color: #efefef; 
}

#farge h2 {
    text-align: center;
}

#contact {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mellomrom {
    padding: 1rem 0 2rem 0;
}

#epost{
    text-decoration: underline;
    color: #1b73e8;
}

#contact article {
    max-width: 500px;
    margin: 0rem 2rem 0rem 2rem;
}

#contact article ul {
    padding: 0rem;
}

#contact article ul li {
    padding: 0 0 1rem 0;
}

.map {
    padding-bottom: 12%;
    position: relative;
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}





footer {
    grid-area: footer;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
}

footer p {
    color: #fff;
} 

footer ul {
    display: flex;
    gap: 2rem;
    margin: 0 1rem 0 0;
    padding: 0;
}

.fa-brands {
    color: #fff;
    font-size: xx-large;
}

.fa-solid {
    color: #000;
    font-size: xx-large;
}




@media only screen and (max-width: 800px) {

    .grid {
        display: grid;
        grid-template-areas:"header" "main" "footer"
    }

    #backroundabout {
        padding: 3rem;
    }

}