* {
    text-decoration: none;
    color: #000;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}

.grid {
    display: grid;
    grid-template-areas:"header header header"
                        "main main main" 
                        "footer footer footer";
    
}




header {
    grid-area: header;
    text-align: center;
    margin: 0rem;
    
}

header section h1 {
    font-size: 2.5rem;
}

.logo {
    margin: 1rem;
}

.logo img{
    max-width: 100px
}

header nav {
    display: flex;
    justify-content: space-between;
}

.navi {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    
    font-weight: 700;
}

.gulbox {
    display: inline-block;
    background-color: #e6bd43;
    padding: 1rem;
    font-weight: 700;
    margin: 0;
}

.backround {
    background-image: url("../img/placeholder2.png");
    background-size: cover;
    padding: 4rem 8rem 3rem 8rem;
}

#backroundabout {
    background-image: url("../img/placeholder2.png");
    background-size: cover;
    padding: 3rem 3rem 3rem 25rem;
}

#boks {
    background-color: rgba(250,250,250,.9);;
    padding: 3rem;
    text-align: start;
}





main {
    grid-area: main;
}

#sentrer {
    text-align: center;
}

main section {
    padding: 3rem;
}

#about {
    text-align: start; 
    display: flex;
    background-color: #e6bd43;
    padding: 2rem;
}

#svartfir {
    display: inline-block;
    border: 2px solid #000;
    padding: 1rem;
    font-weight: 700; 
}

.svartboks {
    display: inline-block;
    border: 2px solid #000;
    padding: 0.5rem;
}

.service {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
    text-align: center;
}

.service h2 {
    width: 100%;
    padding: 0 0 4rem 0;
}

.service article {
    max-width: 175px;
}

#sign {
    background-color: #efefef;
}

main h2 {
    font-size: 2rem;    
}

form input[type=email] {
    border: 0;
    padding: 1rem;
}

form input[type=submit] {
    background-color: #e6bd43;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}

form input[type=text] {
    border: 0;
    padding: 1rem 20rem 1rem 1rem;
}

form input[id=message] {
    border: 0;
    padding: 8rem 20rem 1rem 1rem;
}

#strek h2 {
    border-bottom: 3px solid #e6bd43;
    padding: 0 0 1rem 0;
}

#explore article ul {
    padding: 3rem 0 0 0;
}

.artikkel1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    padding: 0;
    gap: 2rem;
}

.artikkel1 article {
    max-width: 350px;
    min-width: 200px;
    padding: 0 3rem 0 0;
}

#firma {
    background-color: #e6bd43;
    text-align: center;
}

#farge {
    background-color: #efefef; 
}

#farge h2 {
    text-align: center;
}

#contact {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#contact article {
    max-width: 500px;
    margin: 0rem 2rem 0rem 2rem;
}

#contact article ul {
    padding: 0rem;
}

#contact article ul li {
    padding: 0 0 1rem 0;
}

.map {
    padding-bottom: 12%;
    position: relative;
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}





footer {
    grid-area: footer;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
}

footer p {
    color: #fff;
    margin: 0 0 0 7.5rem;
} 

footer ul {
    display: flex;
    gap: 0.5rem;
    margin: 0 1rem 0 0;
    padding: 0;
}

footer ul li a{
    color: #fff;
    font-weight: 700;
}





@media only screen and (min-width: 600px) {
}